/* src/components/Layout.css */
.layout {
  display: flex;
  flex-direction: column;
}

.main-content {
  margin-top: 70px; /* match actual navbar height */
  z-index: 1;
  min-height: calc(100vh - 70px); /* optional: full height minus navbar */
}

