html, body {
  scroll-behavior: auto !important; /* or smooth */
  overflow: auto !important;
  height: auto !important;
}
body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
}

.glassy {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
