html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-y: scroll;              /* Enable vertical scrolling */
  scrollbar-width: none;          /* Hide scrollbar in Firefox */
  scroll-padding-top: 0;
}

/* Hide scrollbar for WebKit (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
  display: none;
}
html, body {
  scroll-behavior: smooth !important; /* or smooth */
  overflow: auto !important;
  height: auto !important;
}
